$primarybtn: rgb(168, 73, 168);
$btncolor: white;
$textcolor: black;
$color: white;
$padding-main: 5px;
$backgroung-color-2: lightgrey;
$icon-colour: black;

body {
    width: 100%;
    height: 100%;
    margin: auto;
}

header{
    display: flex;
    flex-direction: column;
    padding:10px 0;
    margin: 0 0 4px 0;

    nav{
        text-align: center;
    }
    
      .logo {
        width: 40%;
        height:auto;
      }
    }

main{
    display:flex;
    flex-direction: column;

      #location{
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #ebebeb;
          justify-content: center;
          padding: 5px 0;
      }

      #location i{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p{
            padding: 0 0 0 15px;
            text-align: center;
        }
        
      }

      #intro{
          display:flex;
          flex-direction: column;
          background-color: #f5f5f5;
          width: 100%;
      }

      .intro_title{
          padding: 20px;
          text-align: center;
          }

      .intro_heading{
          padding:10px;
          margin-left: 55px;
          margin-right: 55px;
          align-items: center;
          font-size: 18px;
          font-weight: 300;
      }

      p{
          text-align-last: center;
      }

      #explore_button{
          display: flex;
          flex-flow: row;
          padding: 16px 27px;
          text-align: center;
          justify-content: center;
      }
  
      .button{
          background-image: gradient(linear, left top, left bottom, from(#FF79DA), to (#9356DC));
          background-image: linear-gradient(#FF79DA, #9356DC);
          width: 70%;
          height: 60px;
          text-align: center;
          margin-bottom: 1.6rem;
          border-radius: 30px;
          border: none;
          color: white;
      }

      .button:hover{
        background-image: gradient(linear, left top, left bottom, from(#FF79DA), to (#9356DC));
        background-image: linear-gradient(#FF79DA, #9356DC);
      }

    
  }
  
 
    

//SECTION - HOW IT WORKS     
      
.how-it-works{
    height: 400px;
    align-items: left;
    padding: 50px 30px 50px 25px;
      h2 {        
          text-align: left;  
          padding: 0;      
      }
      
      .wrap {
          display: flex;
          flex-direction: column;
      }
    
      
      .step{
        background-color: #F5F5F5;
        border-radius: 23px;
        border: none;
        padding: 27px;
        margin-left: 10px;
        margin-bottom: 28px;
        align-items: center;
    }
      .numbers{
              position: absolute;
              text-align: center;
              background-color: #9356DC;
              color: white;
              border-radius: 100%;
              padding: 4px 8px;
              font-weight: 300;
              font-size: 14px;
              left: 25px;
          }
            .icon {
              width: 1.5rem;
              margin: 0 1.6rem 0 2rem ;
              padding:0rem;
              color: #767676;
              font-size: 20px;
          }
          
          h4 {
              font-weight:500;
          }
          
          & :hover{
              background-color: lighten (magenta, 40%);
              cursor: pointer;
          }
          
          & :hover > .icon{
              color: magenta;
          }
        
    }
  

      
//SECTION - RESTAURANTS//   
      
      
  section{
      display: flex;
      flex-direction: column;
      text-align: left;
  }
    
    .restaurants{
        display: flex;
        flex-direction: column;
        padding: 50px 20px 35px 20px;
        background: #f5f5f5;

        h2{
            padding: 0;
            margin-bottom: 43px;
        }
    }

        .card{
            height: 255px;
            width:100%;
            border-radius: 15px;
            margin-bottom: 28px;
            background-color: white;  
        
            a{
                text-decoration: none;
                color: black;
            }
            
        
             img{
                    height: 70%;
                    width: 100%;
                    object-fit: cover;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    }
                    
                    #tall-picture{
                        object-position: 0 60%;
                    }
                

          .name{
                display:flex;
                flex-direction: column;

                h3{
                    width: 70%;
                    margin: 10px 0 5px 12px;
                }

                h4{
                    margin:0 0 10px 12px;
                    font-weight: 300;
                    font-size: 17px;
                    width: 50%;
                }
            }
        }
        
    

            .heart{
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 6%;
                bottom: 25px;
                font-size: 24px;
                height:33px;
                width: 40px;
                background-color: transparent;
                border: none;
                
                .far{
                    display: inline-block;
                    color:black;
                }

                .fas{
                    position:relative;
                    bottom: 24px;
                    font-size: 24px;
                    color:transparent;
                
                }
                
                
            }
        
        
        .new{
            position: absolute;
            right: 9%;
            width: 80px;
            top: 1100px;
            background-color: #99E2D0;
            color: #278870;
            padding: 5px 0;
            border-radius: 3px;
            text-align: center;
        }

    
    

      
      
//SECTION - FOOTER    

    footer{
        padding: 15px;
        background-color: #3a3a3a;
        color: white;
        height: 200px;

        a{
            color:white;
            text-decoration: none;
        }

        i{
            padding: 10px;
        }
    
        .Logo{
            align-items: left;
            max-width: 120px;
            max-height: 150px;
            margin: 20px;
        }
    
        ul{
            list-style-type: none;
            padding: 0px;
            margin-bottom: 10px;
            margin-top: 0;
            margin-left: 10px
        }
    }

  

    /*pages*/

    body{
        width:100%;
    }
     
    header{
        display: flex;
        flex-direction: row;
    
        .top-links{
            padding: 1rem;
        }

        i{
            align-items: left;
            padding: 1rem;
        }
    
        #Logo_Box{
            width: 100%;
        }
    
        .Logo{
            height: 30px;
            align-items: center;
            padding: 0.8rem;
        }
    }

    main{
        display: flex;
        flex-direction: column;
    
        #Full_palette{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .res1{
            width: 420px;
            height: 250px;
        }

    }

section{
    padding: 1rem;
    
    .menu{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        margin: 1.2rem;
    }

    .restaurant_name{
        text-align: left;
        padding: 0.2rem;
    }

    .heart{
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 6%;
            bottom: 25px;
            font-size: 24px;
            height:33px;
            width: 40px;
            background-color: transparent;
            border: none;
    }
    
}

    .menu_section{
        background-color: #f5f5f5;
        padding: 50px 20px 35px 20px;
    }

    .menu_subheading{
        margin-bottom: 20px;
    }

    .dishes{
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        

    }

    .dish_text{
        text-align: left;
        padding: 0.5rem;
    }

    h3{
        font-weight: bold;
    }

    p{
        font-size: small;
        font-weight: 200;
    }

    .dish_price{
        text-align: right;
    }

    h4{
        align-items: right;
        margin: 2rem;
    }

    .dish_check{
        align-items: right;
        padding: 1rem;
    }

    
    .order_button{
          background-image: gradient(linear, left top, left bottom, from(#FF79DA), to (#9356DC));
          background-image: linear-gradient(#FF79DA, #9356DC);
          width: 70%;
          height: 60px;
          text-align: center;
          margin-bottom: 1.6rem;
          border-radius: 30px;
          border: none;
          color: white;
    }
