$primarybtn: purple;
$btncolor: white;
$textcolor: black;
$color: white;

body {
    margin: 0;
    padding: 0;
    
}

#wrapper {
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  
}

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;

    #logo_box{
        width: 100%;
        align-items: center;
      }
    
      .logo {
        height: 35px;
        margin: 15px 0 0 15px;
      }
      #location{
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: lightgray;
      }

      #intro{
          display:flex;
          flex-direction: column;
      }

      .intro_title{
          padding: 5px;
          align-items: center;
      }

      .intro_heading{
          padding:10px;

      }

      #explore_button{
          
      }
  
      .button{
          width: 300px;
          height: 50px;
          align-items: center;
          border-radius: 30%;
          background-color: $primarybtn;
          color: $btncolor;
      }

    
  }
  
  section {
    background-color: $color;
    color: $textcolor;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;

    .steps{

    }

    .explanation_part{
        padding:30px;
        width:100%;
        align-items: center;
    }

    .choose_element{
        display: flex;
        flex-direction: row;
        width:80%;
        padding:10px;
        margin: 10px 0 0 10px;
    }

    .step{

    }

    .step--number{

    }
    .create_element{
        display: flex;
        flex-direction: row;
        width:80%;
        padding:10px;
        margin: 10px 0 0 10px;
    }
    .enjoy_element{
        display: flex;
        flex-direction: row;
        width:80%;
        padding:10px;
        margin: 10px 0 0 10px;
    }
    
    #res_title{
        display: flex;
        flex-direction: column;
        width: 80%;
        color: $textcolor;
        padding: 20px;
    }

        .res_title_icon {
          padding:10px;
          margin: 5px;
        }


    #listings{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 100%;
        grid-gap: 25px;
        margin: 20px;
        padding: 30px;
    }

    .list_card{
        margin:0;
        padding: 20px;
        background-color: white;
    }

    .res_image1{

    }

    .list_card_name{

    }

    .location{

    }

    .heart{

    }

    .new_box{

    }
  }