body {
  width: 100%;
  height: 100%;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 0 4px 0;
}
header nav {
  text-align: center;
}
header .logo {
  width: 40%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
}
main #location {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  justify-content: center;
  padding: 5px 0;
}
main #location i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main #location i p {
  padding: 0 0 0 15px;
  text-align: center;
}
main #intro {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  width: 100%;
}
main .intro_title {
  padding: 20px;
  text-align: center;
}
main .intro_heading {
  padding: 10px;
  margin-left: 55px;
  margin-right: 55px;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
}
main p {
  -moz-text-align-last: center;
       text-align-last: center;
}
main #explore_button {
  display: flex;
  flex-flow: row;
  padding: 16px 27px;
  text-align: center;
  justify-content: center;
}
main .button {
  background-image: gradient(linear, left top, left bottom, from(#FF79DA), to #9356DC);
  background-image: linear-gradient(#FF79DA, #9356DC);
  width: 70%;
  height: 60px;
  text-align: center;
  margin-bottom: 1.6rem;
  border-radius: 30px;
  border: none;
  color: white;
}
main .button:hover {
  background-image: gradient(linear, left top, left bottom, from(#FF79DA), to #9356DC);
  background-image: linear-gradient(#FF79DA, #9356DC);
  transform: scale(1.15);
  transition-duration: 6s;
}

.how-it-works {
  height: 400px;
  align-items: left;
  padding: 50px 30px 50px 25px;
}
.how-it-works h2 {
  text-align: left;
  padding: 0;
}
.how-it-works .wrap {
  display: flex;
  flex-direction: column;
}
.how-it-works .step {
  background-color: #F5F5F5;
  border-radius: 23px;
  border: none;
  padding: 27px;
  margin-left: 10px;
  margin-bottom: 28px;
  align-items: center;
}
.how-it-works .numbers {
  position: absolute;
  text-align: center;
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  padding: 4px 8px;
  font-weight: 300;
  font-size: 14px;
  left: 25px;
}
.how-it-works .icon {
  width: 1.5rem;
  margin: 0 1.6rem 0 2rem;
  padding: 0rem;
  color: #9356DC;
  font-size: 20px;
}
.how-it-works .icon :hover {
  transform: scale(2.15);
  transition-property: transform;
  transition-duration: 4s;
  transform: rotate(360deg);
}
.how-it-works :hover > .icon {
  color: #FF79DA;
}

section {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 35px 20px;
  background: #f5f5f5;
}
.restaurants h2 {
  padding: 0;
  margin-bottom: 43px;
}

.card {
  height: 255px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 28px;
  background-color: white;
}
.card a {
  text-decoration: none;
  color: black;
}
.card img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card #tall-picture {
  -o-object-position: 0 60%;
     object-position: 0 60%;
}
.card .name {
  display: flex;
  flex-direction: column;
}
.card .name h3 {
  width: 70%;
  margin: 10px 0 5px 12px;
}
.card .name h4 {
  margin: 0 0 10px 12px;
  font-weight: 300;
  font-size: 17px;
  width: 50%;
}

.heart {
  display: flex;
  flex-flow: column;
  position: absolute;
  right: 6%;
  font-size: 34px;
  height: 33px;
  width: 40px;
  border: none;
  margin-top: -40px;
  color: white;
}
.heart:hover {
  -webkit-animation: beat 1s infinite;
          animation: beat 1s infinite;
}
@-webkit-keyframes beat {
  50% {
    transform: scale(1.5);
  }
}
@keyframes beat {
  50% {
    transform: scale(1.5);
  }
}
.heart .far {
  display: inline-block;
  color: black;
}
.heart .fas {
  position: absolute;
  font-size: 34px;
}
.heart:hover {
  transform: scale(1.25);
  transition-property: transform;
  transition-duration: 8s;
  color: #FF79DA;
}

.new {
  position: absolute;
  right: 8%;
  width: 80px;
  background-color: #99E2D0;
  color: #278870;
  padding: 5px 0;
  border-radius: 3px;
  text-align: center;
  margin-top: -235px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 120s, visibility 2s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #278870;
  border-radius: 50%;
  -webkit-animation: loading 0.75s ease infinite;
          animation: loading 0.75s ease infinite;
}

@-webkit-keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
footer {
  padding: 15px;
  background-color: #3a3a3a;
  color: white;
  height: 200px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer i {
  padding: 10px;
}
footer .Logo {
  align-items: left;
  max-width: 120px;
  max-height: 150px;
  margin: 20px;
}
footer ul {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 10px;
}

/*pages*/
body {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
}
header .top-links {
  padding: 1rem;
}
header i {
  align-items: left;
  padding: 1rem;
}
header #Logo_Box {
  width: 100%;
}
header .Logo {
  height: 30px;
  align-items: center;
  padding: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
}
main #Full_palette {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .res1 {
  width: 420px;
  height: 250px;
}

section {
  padding: 1rem;
}
section .menu {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 1.2rem;
}
section .restaurant_name {
  text-align: left;
  padding: 0.2rem;
}

.menu_section {
  background-color: #f5f5f5;
  padding: 50px 20px 35px 20px;
}

.menu_subheading {
  margin-bottom: 20px;
}

.dishes {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.dish_text {
  text-align: left;
  padding: 0.5rem;
}

h3 {
  font-weight: bold;
}

p {
  font-size: small;
  font-weight: 200;
}

.dish_price {
  text-align: right;
}

h4 {
  align-items: right;
  margin: 2rem;
}

.dish_check {
  align-items: right;
  padding: 1rem;
}

.order_button {
  background-image: gradient(linear, left top, left bottom, from(#FF79DA), to #9356DC);
  background-image: linear-gradient(#FF79DA, #9356DC);
  width: 70%;
  height: 60px;
  text-align: center;
  margin-bottom: 1.6rem;
  border-radius: 30px;
  border: none;
  color: white;
}/*# sourceMappingURL=style.css.map */
