body {
  width: 100%;
  height: 100%;
  margin: auto;
}

#wrapper {
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
}

header {
  padding: 0;
  text-align: center;
}
header #logo_Box {
  width: 100%;
}
header .logo {
  height: 30px;
  text-align: center;
  padding: 8px;
}
header #location {
  width: 100%;
  border: 1px solid white;
  background-color: lightgray;
}
header #location i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header #location i p {
  padding: 0 0 0 15px;
  text-align: center;
}
header #intro {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 228, 228);
}
header .intro_title {
  padding: 20px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
header .intro_heading {
  padding: 10px;
  margin-left: 55px;
  margin-right: 55px;
  align-items: center;
}
header p {
  -moz-text-align-last: center;
       text-align-last: center;
}
header #explore_button {
  display: flex;
  flex-flow: row;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
header .button {
  width: 70%;
  height: 60px;
  text-align: center;
  margin-bottom: 1.6rem;
  border-radius: 50px;
  background-color: rgb(168, 73, 168);
  color: white;
}

.how-it-works {
  padding: 5px;
}
.how-it-works h2 {
  padding: 0.4rem 1.2rem;
}
.how-it-works.wrap {
  display: flex;
  flex-direction: column;
}
.how-it-works .numbers {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  background: magenta;
  color: white;
  border-radius: 2rem;
  position: absolute;
}
.how-it-works .icon {
  width: 1.5rem;
  margin: 0 1.6rem 0 2rem;
  padding: 0rem;
  color: black;
  font-size: 1.1rem;
}
.how-it-works h4 {
  font-weight: 500;
}
.how-it-works :hover {
  background-color: lighten magenta, 40%;
  cursor: pointer;
}
.how-it-works :hover > .icon {
  background-color: magenta;
}

.choose_element {
  border: 1px solid #0a0a0a;
  background-color: rgb(226, 221, 221);
  min-height: 70px;
  width: 90%;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.create_element {
  border: 1px solid #0a0a0a;
  background-color: rgb(226, 221, 221);
  min-height: 70px;
  width: 90%;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.enjoy_element {
  border: 1px solid #0a0a0a;
  background-color: rgb(226, 221, 221);
  min-height: 70px;
  width: 90%;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

section {
  text-align: left;
  align-items: center;
}

.restaurants {
  padding: 0.8rem;
  background: lightgrey;
}
.restaurants h2 {
  padding: 1rem;
}
.restaurants h4 {
  font-weight: normal;
}
.restaurants.wrap {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.restaurants.card {
  position: relative;
}
.restaurants a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  height: 200px;
  width: 320px;
  border-radius: 25px;
  background-color: white;
  justify-content: center;
}
.restaurants a img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0px;
}
.restaurants a #tall-picture {
  -o-object-position: 0 60%;
     object-position: 0 60%;
}
.restaurants .fa-heart {
  position: absolute;
  right: 2.6rem;
  margin-top: 10rem;
  font-size: 2rem;
  z-index: 5px;
}
.restaurants .fa-heart.empty {
  color: white;
}
.restaurants .fa-heart.full {
  opacity: red;
}
.restaurants .fa-heart.empty:hover {
  cursor: auto;
  color: red;
}
.restaurants .fa-heart.full:hover {
  cursor: auto;
  color: magenta;
  background: white;
  background-clip: padding-box;
  transition: width 2s;
  opacity: 4px;
}
.restaurants.name {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  background: white;
  border-radius: 5px;
  padding: 5px;
}
.restaurants.name h3, .restaurants.name h4 {
  margin-left: 0px;
}
.restaurants_new {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  background-color: green;
  color: black;
  padding: 0.4rem 1.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(95, 81, 81);
  color: white;
}
footer .Logo {
  align-items: left;
  max-width: 120px;
  max-height: 150px;
  margin: 20px;
}
footer ul {
  list-style-type: none;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 10px;
}

/*pages*/
body {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
}
header .top-links {
  padding: 1rem;
}
header i {
  align-items: left;
  padding: 1rem;
}
header #Logo_Box {
  width: 100%;
}
header .Logo {
  height: 30px;
  align-items: center;
  padding: 0.8rem;
}

#Full_palette {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.res1 {
  width: 420px;
  height: 250px;
}

main {
  display: flex;
  flex-direction: column;
}

.menu {
  padding: 1rem;
  margin: 1.2rem;
}

.restaurant {
  display: flex;
  flex-direction: row;
}

.restaurant-name {
  text-align: left;
  padding: 0.2rem;
}

.fa-heart {
  position: relative;
  padding: 1.2rem;
  font-size: 2rem;
}
.fa-heart.empty {
  color: white;
}
.fa-heart.full {
  opacity: red;
}
.fa-heart.empty:hover {
  cursor: auto;
  color: red;
}
.fa-heart.full:hover {
  cursor: auto;
  color: magenta;
  background: white;
  background-clip: padding-box;
  transition: width 2s;
  opacity: 4px;
}

.menu-section {
  padding: 0.4rem;
  margin: 0.2rem;
}

h3 {
  align-items: left;
}

.menu-wrap {
  margin: 0;
}

.dish-one {
  display: flex;
  flex-direction: row;
  text-align: left;
  border: 1px solid grey;
}

.dish-text {
  text-align: left;
  padding: 0.5rem;
}

h3 {
  font-weight: bold;
}

p {
  font-size: small;
  font-weight: 200;
}

.dish-price {
  text-align: right;
}/*# sourceMappingURL=style.css.map */
