$primarybtn: rgb(168, 73, 168);
$btncolor: white;
$textcolor: black;
$color: white;
$padding-main: 5px;
$backgroung-color-2: lightgrey;

body {
    margin: 0;
    padding: 0;
    
}

#wrapper {
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  
}

header {
    padding: 0;

    #logo_box{
        width: 70%;
        align-items: center;
      }
    
      .logo {
        height: 30px;
        margin-left: 25%;
        padding: 8px;
      }
      #location{
          border: 1px solid black;
          text-align: center;
          position: relative;
          background-color: lightgray;
      }

      #location i{
        display:flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        margin-left: 25%;

        p{
            padding: 0 0 0 15px;
        }
        
      }

      #intro{
          display:flex;
          flex-direction: column;
          background-color: rgb(240, 227, 227);
      }

      .intro_title{
          padding: 20px;
          align-items: center;
          margin-left: 50px;
          margin-right: 50px;
      }

      .intro_heading{
          padding:10px;
          margin-left: 55px;
          margin-right: 55px;
          align-items: center;
      }

      p{
          text-align-last: center;
      }

      #explore_button{
          display: flex;
          flex-flow: row wrap;
          padding: 10px
      }
  
      .button{
          width: 300px;
          height: 80px;
          align-items: center;
          margin: 5px 5px 15px 40px;
          border-radius: 50px;
          background-color: $primarybtn;
          color: $btncolor;
      }

    
  }
  
  section {
    background-color: $color;
    color: $textcolor;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding:10px;
    

    .steps{
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        padding: 10px;
        margin:20px;
    }

    .choose_element{
        border: 1px solid  #0a0a0a;
        min-width: 300px;
        min-height: 50px;
        margin-right: 25px;
        border-radius: 25px;
        padding-right: 10px;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .create_element{
        border: 1px solid  #0a0a0a;
        min-width: 300px;
        min-height: 50px;
        margin-top: 12px;
        margin-right: 25px;
        border-radius: 25px;
        padding-right: 10px;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .enjoy_element{
        border: 1px solid  #0a0a0a;
        min-width: 300px;
        min-height: 50px;
        margin-top: 12px;
        margin-right: 25px;
        border-radius: 25px;
        padding-right: 10px;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
  }

  section{
      text-align: left;
      align-items: center;
  }
    
    .restaurants{
        width: 100%;
        margin-top: 25px;
        padding: $padding-main;
        background: $backgroung-color-2;

        h2{
            padding: 1.4rem 0;
        }
        h4{
            font-weight: normal;
        }
        &__wrap{
            display: flex;
            flex-direction: column;
            row-gap: 1.2rem;
        }
        &__card{
            position: relative;
    
            a{
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: black;
                height: 250px;
                width: 100%;
                box-shadow: black;
                border-radius: 5px;
                justify-content: center;
                    img{
                        height: 175px;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                        margin-bottom: 0px;
                    }
                    /*positioning of picture with bigger height*/
                    #tall-picture{
                        object-position: 0 60%;
                    }
    
    }
            .fa-heart{
                position: relative;
                right: 2rem;
                bottom: 1,2rem;
                font-size: 1.3rem;
                z-index: 5px;
                &.empty{
                    color: white;
                }
                &.full{
                    opacity: red;
                }
                &.empty:hover{
                    cursor: auto;
                    color: red;
                }
                &.full:hover{
                    cursor: auto;
                    color: yellow;
                    background:white;
                    background-clip: padding-box;
                    transition: width 2s;
                    opacity: 4px;
                    }
            }
        }
    
        &__name{
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            background: black;
            height: 10px;
            border-radius: 5px;
            padding: 10px;
            & h3, h4{
                margin: 0;
            }
        }
        &_new{
            position: relative;
            right: 0.8rem;
            top: 0.8rem;
            background-color: green;
            color: darken(green, 45%);
            padding: 0.4rem 1.5rem;
            border-radius: 0.2rem;
            font-size: 0.8rem;
    
        }
    }

    footer{
        display: flex;
        flex-direction: column;
        background-color: rgb(95, 81, 81);
        color: white;
    
        .Logo{
            align-items: left;
            max-width: 120px;
            max-height: 150px;
            margin: 20px;
        }
    
        ul{
            list-style-type: none;
            padding: 10px;
            margin-bottom: 10px;
            margin-top: 0;
            margin-left: 10px
        }
    }